// Basic Colors
$header-bg-color: #00bcd4;

// Component Colors
$text-color: #323233;
$active-color: #f2f3f5;
$active-opacity: .7;
$disabled-opacity: .5;
$background-color: #f8f8f8;
$background-color-light: #fafafa;

// Border
$border-color: #ebedf0;
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-max: 999px;